{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="share" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-dark" type="submit">Buy</button>
    </form>
{% endblock %}
